# Common files to ignore
.DS_Store
.env
.vscode/
.idea/
*.log

# Frontend ignores
frontend-disinformation-game/node_modules/
frontend-disinformation-game/dist/
frontend-disinformation-game/dist-ssr/
frontend-disinformation-game/*.local
frontend-disinformation-game/.env

# Backend ignores
backend-disinformation-game/node_modules/
backend-disinformation-game/.env
backend-disinformation-game/downloaded_images/
backend-disinformation-game/profile_pics/
backend-disinformation-game/tweets.csv
backend-disinformation-game/GCP_KEYS.json
backend-disinformation-game/.firebaserc
